/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: #357ba7;
}

nav i {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #b1dffa;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #357ba7;
  color: white;
  padding: 15px;
}

footer p {
  margin-bottom: 12px;
}

footer i {
  margin-left: 10px;
}
